.boardContainer {
  padding: 0;
  background-color: #e6eef9;
  height: 100vh;
  flex: 1;
  padding: 30px;
}
.boardTitle {
  display: flex;
  justify-content: space-between;
}
.boardTitle p {
  margin: 0;
}
.boardTitle p:first-child {
  font-size: 20px;
  font-weight: 600;
  color: #1e3a8a;
}
.boardTitle p:last-child {
  font-size: 14px;
  color: #2563eb;
}
.boardTitle button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 10px;
}

.boardContents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}
.boardColumn {
  min-width: 0;
}
.boardColumn > div:first-child {
  margin-bottom: 10px;
  /* font-weight: 600; */
  font-size: 18px;
  color: #1e3a8a;
}
/* ========board Content =============== */

.contentContainer {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #bfdbfe;
  padding: 10px 14px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
}
.contentContainer h3 {
  margin: 10px 0;
}
.contentUser {
  color: #3b82f6;
  font-size: 12px;
  display: flex;
  margin-top: 6px;
}
.contentUser div {
  display: flex;
  align-items: center;
}
.contentUser i {
  margin-right: 3px;
}
.contentUser div:first-child {
  margin-right: 10px;
}
.noContent {
  display: flex;
  justify-content: center;
  color: #6b7280;
  padding: 30px 0;
}

@media (max-width: 900px) {
  .boardContents {
    grid-template-columns: 1fr;
  }
}
